<template>
  <v-data-table
    :headers="headers"
    :items="users"
    sort-by="username"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Users ({{ usersCount }})</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
         <v-spacer></v-spacer>
        <v-alert v-model="alert.show" :type="alert.type" dismissible border="top">
          {{ alert.text }}
        </v-alert>
        <v-spacer></v-spacer>
        <!-- UPLOAD DIALOD -->
        <v-dialog
          v-model="dialogFileUpload"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2 mr-10"
              v-bind="attrs"
              v-on="on"
            >
              FILE UPLOAD
            </v-btn>
          </template>
          <v-card style="overflow: hidden;">
            <v-card-title>
              <p class="headline">FILE UPLOAD</p>
            </v-card-title>
            <v-form ref="fileform" v-model="isFileFormValid" lazy-validation>
                <v-file-input
                  chips
                  multiple
                  accept="application/vnd.ms-excel, text/csv"
                  label="Select File"
                  v-model="file"
                  :rules="rules.filetype"
                ></v-file-input>
                <v-btn
                  style="width: 100%"
                  class="mr-4"
                  :disabled="!isFileFormValid"
                  @click="importUsers"
                >
                  submit
                </v-btn>
              </v-form>
          </v-card>
        </v-dialog>
        <!-- NEW AND EDIT DIALOD -->
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <v-form ref="form" v-model="isFormValid" lazy-validation>
            <v-card>
              <v-card-title>
                <span class="headline">Edit User</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.username"
                        :rules="rules.minCharacters"
                        disabled
                        label="Username"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.first_name"
                        :rules="rules.minCharacters"
                        required
                        label="First name"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.last_name"
                        :rules="rules.minCharacters"
                        required
                        label="Last Name"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.email"
                        :rules="rules.emails"
                        label="Email"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.phone"
                        :rules="rules.phone"
                        label="Phone"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                  :disabled="!isFormValid"
                >
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>

        <!-- DELETE DIALOD -->
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Vuex from 'vuex'

export default {
  data: () => ({
    alert: {
      text: '',
      show: false,
      type: ''
    },
    errorMessage: '',
    file: null,
    isFormValid: false,
    isFileFormValid: false,
    dialog: false,
    dialogDelete: false,
    dialogFileUpload: false,
    headers: [
      {
        text: 'Username',
        value: 'username'
      },
      { text: 'First Name', value: 'first_name' },
      { text: 'Last Name', value: 'last_name' },
      { text: 'Email', value: 'email' },
      { text: 'Phone', value: 'phone' },
      { text: 'Actions', value: 'actions', sortable: false }
    ],
    editedIndex: -1,
    editedItem: {
      username: '',
      first_name: '',
      last_name: '',
      email: '',
      phone: ''
    },
    defaultItem: {
      username: '',
      first_name: '',
      last_name: '',
      email: '',
      phone: ''
    },
    rules: {
      filetype: [
        value => {
          const file = value[0]
          if (file !== undefined) {
            const filename = file.name
            const fileType = filename.split('.')[1]
            if (['xls', 'csv', 'xlsx'].includes(fileType)) {
              return true
            }
            return 'Invalid file type. Only xls, xlsx or csv'
          }
          return 'Please choose a file'
        }
      ],
      emails: [
        value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          if (value === null) {
            return true
          }
          return pattern.test(value) || 'Invalid e-mail.'
        }
      ],
      phone: [
        value => !isNaN(value) || 'Invalid phone number.'
      ],
      minCharacters: [
        value => (value && value.length >= 3) || 'Min 3 characters'
      ]
    }
  }),

  computed: {
    ...Vuex.mapState(['users']),
    usersCount () {
      return this.users.length
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },

  methods: {
    ...Vuex.mapActions(['deleteUser', 'updateUser', 'importUsersApi']),
    async importUsers () {
      this.$refs.fileform.validate()
      const formData = new FormData()
      formData.append('file', this.file[0])
      const response = await this.importUsersApi(formData)
      this.handleImportResponse(response)
    },
    handleImportResponse (response) {
      const data = response.data
      if ('error' in data) {
        const error = data.error
        this.alert.type = 'warning'
        if (error.type === 'duplicated_usernames') {
          this.alert.text = `There are already users with these usernames: ${error.duplicated_usernames}`
        } else if (error.type === 'nan_data_exist') {
          this.alert.text = 'There is empty data in columns username/first_name/last_name'
        } else if (error.type === 'headers_format') {
          this.alert.text = 'Wrong headers. Accepted headers: username, first_name, last_name, email, phone'
        }
      } else {
        this.alert.type = 'success'
        this.alert.text = 'Successfully created new users'
        this.$store.dispatch('getUsers')
      }
      this.dialogFileUpload = false
      this.alert.show = true
    },
    editItem (item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      const username = this.users[this.editedIndex].username
      this.users.splice(this.editedIndex, 1)
      this.closeDelete()
      // api request
      this.deleteUser(username)
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      this.$refs.form.validate()
      if (this.editedIndex > -1) {
        Object.assign(this.users[this.editedIndex], this.editedItem)
      } else {
        this.users.push(this.editedItem)
      }
      this.close()
      this.updateUser(this.editedItem)
    }
  }
}
</script>

<style scoped>

</style>
